
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    background-image: url(abstract-digital-connection-moving-dots-and-lines-technology-background-network-connection-structure-3d-seamless-loop-4k-video.jpg);
    font-family: 'Times New Roman', Times, serif;  /* Light gray background */
}

.portfolio-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d3c6c6;
    border-radius: 10px;
    filter: drop-shadow(5px 5px rgb(230, 248, 254));
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgb(93,254,233);
    background: radial-gradient(circle, rgba(93,254,233,1) 12%, rgba(241,241,241,1) 97%, rgba(0,7,8,1) 100%);
    width: 300px; /* Adjust as needed */
    transition: box-shadow 0.3s ease; /* Add transition for box-shadow */
}

.portfolio-card:hover {
    box-shadow: 0 8px 50rem rgb(93,254,233); /* Shadow when hovering */
}

.portfolio-image {
    border-radius: 50px;
    overflow: hidden;
}

.portfolio-image img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    border-color: 15px white;



}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
}

.portfolio-details {
    padding: 20px;
    text-align: justify; /* Justify text */
}

.portfolio-details h2 {
    margin-top: 0;
    color: #343a40;
}

.portfolio-details p {
    margin-bottom: 10px;
}

.portfolio-details a {
    color: #007bff;
    text-decoration: none;
}

.portfolio-details a:hover {
    text-decoration: underline;
}

.full-description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height-step: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(93,254,233); /* White background */
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cancel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.cancel-btn:hover {
    text-decoration: underline;
}
